{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">

            <div class="col logo">yarn add bootstrap
                <img src="{{ asset('')}}" alt="">
            </div>

            <div class="col">
                <ul>Время работы: <br>
                    <li>пн-пт: 10 - 24</li>
                    <li>сб-вс: 12-02</li>
                </ul>
            </div>

            <div class="col">
                <form action="">
                    Вход в профиль:<br>
                    <input type="email">  E-mail<br>
                    <input type="password">  Password<br>
                    <input type="submit" value="Войти">

                </form>
            </div>
        </div>
    </div>




{#        <div class="col-md-4 sidebar">#}
{#            <ul>#}
{#                <li>Фильмы</li>#}
{#                <li>Фильмы</li>#}
{#                <li>Фильмы</li>#}
{#                <li>Фильмы</li>#}
{#                <li>Фильмы</li>#}
{#                <li>Фильмы</li>#}

{#            </ul>#}
{#        </div>#}

{#        <div class="col-md-8 mainContent">#}
{#            <div class="row">#}
{#                <div class="col film">#}
{#                </div>#}

{#            </div>#}
{#        </div>#}



{#        //footer<br>#}


{% endblock %}
