<div class="col-4" align="right">
    <form action="{{ path('main') }}">
        Логин:  <input maxlength="25" size="20" name="login"><br>
        Пароль: <input type="password" maxlength="25" size="20" name="password">
    </form>
</div>