<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Latest updates and statistic charts">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdn.bootcss.com/webfont/1.6.16/webfontloader.js"></script>
        <script>
            WebFont.load({
                google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
                active: function() {
                    sessionStorage.fonts = true;
                }
            });
        </script>

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
{#    //header#}
<div class="header"></div>
<div class="header"></div>
<div class="header"></div>

    //menu
//content
//sidebar
        //page body
        {% block body %}{% endblock %}
        {% block javascripts %}
        {{encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
