<!-- begin::Quick Nav -->
<ul class="m-nav-sticky" style="margin-top: 30px;">
    <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Корзина" data-placement="left">
        <a href="Ссылка на корзину" target="_blank">
            <i class="la la-cart-arrow-down"></i>
        </a>
    </li>
    <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Профиль" data-placement="left">
        <a href="Профиль юзера" target="_blank">
            <i class="la la-code-fork"></i>
        </a>
    </li>
    <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Связаться с нами" data-placement="left">
        <a href="Ссылка на мыло наше" target="_blank">
            <i class="la la-life-ring"></i>
        </a>
    </li>
</ul>